[Unit]
Description=Terramar Service
After=multi-user.target

[Service]
Type=forking
ExecStart=/usr/bin/bash /home/pi/terramar/run.sh
User=pi

[Install]
WantedBy=multi-user.target
